@import "toolkit";

.homeContainer {
  position: absolute;

  padding: 0;

  width: 100%;
  height: 100%;

  margin-left: auto;
  margin-right: auto;

  background: url(./images/barcamp.jpeg) no-repeat;
  background-size: 100%;
}

.homeLogo {
  padding: 10px;
  font-size: 100px;
  color: #fff;
  text-align: center;
}

.homeBox {
  position: absolute;

  left:50%;
  top:50%;
  margin: -85px 0 0 -240px;

  width: 400px;
  height: 300px;
}
